@media only screen and (min-width: 1024px) and (max-width: 1350px) {
    #hed {
        position: static; /* Change from fixed to static for normal flow */
        z-index: auto; /* Reset z-index */
    }

    #navDiv {
        position: relative; /* Change to relative for normal flow */
        width: 100%; /* Make width fluid */
    }

    #imgNav {
        position: absolute;
        right: 0;
        top: 0;
        width: auto; /* Adjust width dynamically */
    }

    #nav {
        position: absolute;
        margin-left: 30px;
        right: 30px;
        font-size: 16px; /* Adjust font size */
        top: 50px; /* Adjust positioning */
    }

    #tag {
        font-size: 20px; /* Adjust font size */
        bottom: auto; /* Reset bottom position */
    }

    #pback5 {
        position: absolute;
        right: 0;
        bottom: 0;
        width: auto; /* Adjust width dynamically */
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1350px) {
    #pro {
        position: relative;
        height: 530px;
        background-color: white;
        max-width: 100%; /* Make width fluid */
        top: 90px;
    }

    #pback1 {
        position: absolute;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%);
        bottom: 0px;
        width: 45%; /* Adjust width dynamically */
        max-width: 600px; /* Set maximum width */
    }

    #pback2 {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 530px;
        width: 50%; /* Adjust width dynamically */
        max-width: 755px; /* Set maximum width */
    }

    #pback3 {
        position: absolute;
        right: 100px; /* Center horizontally */
        transform: translateX(50%);
        bottom: 0px;
    }

        #profile {
            position: absolute;
            right: 100px; /* Center horizontally */
            z-index: 100;
            bottom: 10px;
        }



    #p1 {
        position: absolute;
        font-size: 50px; /* Adjust font size */
        bottom: 250px;
        z-index: 100;
        font-weight: bold;
        left: 10px;
    }

    #p2 {
        position: absolute;
        font-size: 30px; /* Adjust font size */
        bottom: 240px;
        z-index: 100;
        font-weight: bold;
        left: 10px;
    }

    #btn1 {
        position: absolute;
        bottom: 200px;
        left: 20px;
        height: 30px;
        background-color: #D1D0BA;
        font-weight: bold;
        /*border-bottom-left-radius: 10px;*/
    }

    #btn2 {
        position: absolute;
        bottom: 200px;
        left: 100px;
        height: 30px;
    }
}
