/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

#hed{
    position: fixed;
    z-index: 200;
}

body{
    margin: 0px;
    padding: 0px;
}


    #navDiv {
        position: absolute;
        height: 90px;
        /*width: 100%;*/
        width: 90vw;
        background-color: white;
        top: 0px;
        display: flex;
        /*text-decoration: none;*/
    }

    #menuIcon{
        display: none;
    }

    #timeBar{
        display: none;
    }

#imgNav{
    position: absolute;
    left: 40vw;
    right: 0vw;
    top: 0px;
    width: 60vw;
    height: 90px;
    z-index: 1200;
    /*border-left: 10px solid black;*/
}


    #nav {
        position: absolute;
        margin-left: 5vw;
        right: -5vw;
        color: white;
        font-size: 130%;
        top: 30px;
        z-index: 1300;
        display: block;
        unicode-bidi: isolate;
        /*text-decoration: none;*/

    }

#nav a {
    color: white; /* Apply white color to navigation links */
    text-decoration: none; /* Remove underline from links */
}

    header>div>nav>a{
        padding: 5px 10px;
        text-decoration: white;
        /*text-decoration: white;*/
        /*border-right: 1px solid black;*/
    }

header>div>nav>a:hover{
    color: black;
}

    #tag {
        position: absolute;
        font-style: normal;
        font-size: 50px;
        left: 3vw;
        bottom: -30px;
    }

        /* Tablet */

    #pback5 {
        position: absolute;
        right: 43vw;
        bottom: 0px;
        /*width: 90px;*/
        z-index: 0;
        /*height: 120px;*/
    }
@media only screen and (min-width: 750px) and (max-width: 1200px) {
    #pback5 {
        position: absolute;
        right: 43vw;
        bottom: 0px;
        /*width: 90px;*/
        z-index: -1000;
        display: none;
        /*height: 120px;*/
    }

    #imgNav{
        position: absolute;
        left: 40vw;
        right: 0vw;
        top: 0px;
        width: 60vw;
        height: 90px;
        z-index: 1200;
        background-color: white;
        display: none;
        /*border-left: 10px solid black;*/
    }

    #nav a {
        right: 5vw;
        color: black; /* Apply white color to navigation links */
        text-decoration: none;
        font-weight: bold;/* Remove underline from links */
    }

    #navDiv {
        position: absolute;
        height: 90px;
        /*width: 100%;*/
        width: 100vw;
        background-color: white;
        top: 0px;
        display: flex;
        /*text-decoration: none;*/
    }

    #nav {
        position: absolute;
        margin-left: 5vw;
        right: 5vw;
        color: white;
        font-size: 130%;
        top: 30px;
        z-index: 1300;
        display: block;
        unicode-bidi: isolate;
        /*text-decoration: none;*/

    }

}

#pro{
    position: relative;
    height: 530px;
    background-color: white;
    /*width: 1340px;*/
    top: 90px;
}

#pback1{
    position: absolute;
    left: 35vw;
    width: 60vw;
    height: 50vh;
    bottom: 0px;
    width: 600px;
    /*border-left: 5px solid black;*/

}

#pback2{
    position: absolute;
    right: 0vw;
    top: 0vh;
    height: 530px;
    width: 55.7vw;

}

#pback3{
    position: absolute;
    /*right: 33vw;*/
    left: 41vw;
    bottom: 0px;
    width: 25vw;

}

#profile{
    position: absolute;
    right: 5%;
    z-index: 100;
    bottom: 10px;
}

#profile:hover #p1 {
  display: none;
}


#ppH1{
    position: absolute;
    font-size: 400%;
    bottom: 30vh;
    z-index: 150;
    font-weight: bold;
    left: 10vw;
    display: none;
}

#phoneNamwe{
    position: absolute;
    display: none;
}

#ppH2{
    position: absolute;
    font-size: 400%;
    bottom: 21vh;
    z-index: 100;
    font-weight: bold;
    left: 10vw;
    display: none;
}

#p2st{
    position: absolute;
    color: #B2B595;
    font-size: 100%;
    left: 10vw;
    top: 150px;
    font-weight: bold;
    display: none;
}

span{
    color: #B1B493;
}
#p1{
    position: absolute;
    font-size: 400%;
    bottom: 30vh;
    z-index: 150;
    font-weight: bold;
    left: 10vw;
}

#p2{
    position: absolute;
    font-size: 400%;
    bottom: 21vh;
    z-index: 100;
    font-weight: bold;
    left: 10vw;
}

#rp1{
    position: absolute;
    display: none;
}

#rp2{
    position: absolute;
    display: none;
}

#p1st{
    position: absolute;
    color: #B2B595;
    font-size: 100%;
    left: 10vw;
    top: 150px;
    font-weight: bold;
}

@media only screen and (min-width: 750px) and (max-width: 1200px) {

    #ppH1{
        position: absolute;
        font-size: 6vw;
        bottom: 30vh;
        z-index: 150;
        font-weight: bold;
        left: 10vw;
        display: none;
    }

    #ppH2{
        position: absolute;
        font-size: 6vw;
        bottom: 21vh;
        z-index: 100;
        font-weight: bold;
        left: 10vw;
        display: none;
    }

    #p2st{
        position: absolute;
        color: #B2B595;
        font-size: 100%;
        left: 10vw;
        top: 150px;
        font-weight: bold;
        display: none;
    }

    span{
        color: #B1B493;
    }
    #p1{
        position: absolute;
        font-size: 7vw;
        bottom: 30vh;
        z-index: 150;
        font-weight: bold;
        left: 10vw;
    }

    #p2{
        position: absolute;
        font-size: 7vw;
        bottom: 21vh;
        z-index: 1000;
        font-weight: bold;
        left: 10vw;
    }

    #rp1{
        position: absolute;
        display: none;
    }

    #pback3{
        position: absolute;
        /*right: 33vw;*/
        left: 41vw;
        bottom: 0px;
        width: 25vw;
         display: none;
    }

    #rp2{
        position: absolute;
        display: none;
    }
}

#btn1{
    position: absolute;
    bottom: 10vw;
    left: 10vw;
    width: 8vw;
    height: 6vh;
    background-color: #B1B493;
    font-weight: bold;
    border: none;
    color: white;
    /*border-bottom-left-radius: 10px;*/
}
#btn2{
    position: absolute;
    bottom: 10vw;
    left: 20vw;
    width: 8vw;
    height: 6vh;
    color: #B2B595;
    background-color: white;
    border: 1px solid  #B1B493;
}
#btn2:hover {
    background-color: #B1B493;
    color: white/* Background color on hover */
}

@media only screen and (min-width: 750px) and (max-width: 1200px) {
    #btn1{
        position: absolute;
        bottom: 10vw;
        left: 10vw;
        width: 10vw;
        height: 6vh;
        background-color: #B1B493;
        font-weight: bold;
        border: none;
        color: white;
        /*border-bottom-left-radius: 10px;*/
    }
    #btn2{
        position: absolute;
        bottom: 10vw;
        left: 22vw;
        width: 10vw;
        height: 6vh;
        color: #B2B595;
        background-color: white;
        border: 1px solid  #B1B493;
    }
    #btn2:hover {
        background-color: #B1B493;
        color: white/* Background color on hover */
    }




}

#quality{
    position: relative;
    height: 35vh;
    top: 73px;
    width: 100%;
    background-color: #F8F9FA;
}

#ellips1{
    position: absolute;
    left: 7.5vw;
    top: 7vh;
    width: 8vw;
    height: 8vw;
}

#image1{
    position: absolute;
    left: 8.5vw;
    top: 60px;
    width: 6vw;
    height: 5vw;
}


#pp1{
    position: absolute;
    left: 17vw;
    top: 0px;
    font-size: 4vw;

}

#pp2{
    position: absolute;
    left: 16vw;
    top: 90px;
    font-size: 1.5vw;
    color: #B1B493;
}
#ellips2{
    position: absolute;
    left: 36.5vw;
    top: 40px;
    width: 8vw;
    height: 8vw;
}

#image2{
    position: absolute;
    left: 37.5vw;
    top: 50px;
    width: 6vw;
}

#pp3{
    position: absolute;
    left: 46vw;
    top: 0px;
    font-size: 4vw;
}

#pp4{
    position: absolute;
    left: 45vw;
    top: 90px;
    font-size: 1.5vw;
    color: #B1B493;
}
#ellips3{
    position: absolute;
    right: 29vw;
    top: 40px;
    width: 8vw;
    height: 8vw;
}

#image3{
    position: absolute;
    right: 30vw;
    top: 50px;
    width: 6vw;
}

#pp5{
    position: absolute;
    right: 25vw;
    top: 0px;
    font-size: 4vw;
}

#pp6{
    position: absolute;
    right: 14vw;
    top: 90px;
    font-size: 1.5vw;
    color: #B1B493;
}
#about{
    position: relative;
    height: 600px;
    background-color: white;
    /*width: 1350px;*/
    top: 54px;
}

#ira1{
    position: absolute;
    display: none;
}

#ira2{
    position: absolute;
    display: none;
}
#profile2{
    position: absolute;
    height: 500px;
    width: 400px;
    bottom: 30px;
    left: 50px;
    margin: 20px;
}

#intro{
    position: absolute;
    left: 510px;
    top: 80px;
    font-size: 20px;
}
#me{
    position: absolute;
    left: 510px;
    top: 100px;
    font-size: 50px;

}

#dis{
    position: absolute;
    left: 510px;
    top: 180px;
}

#ul{
    position: absolute;
    left: 490px;
    top: 280px;
}

#ellips4{
    position: absolute;
    left: 510px;
    top: 450px;
    width: 50px;
    height: 50px;

}

#icon4{
    position: absolute;
    left: 520px;
    top: 460px;
    width: 30px;
    height: 30px;
    z-index: 100;
}

#pa1{
    position: absolute;
    left: 570px;
    top: 445px;
    font-size: 20px;
    font-weight: bold;
}

#ellips5{
    position: absolute;
    left: 700px;
    top: 450px;
    width: 50px;
    height: 50px;

}
#icon3{
    position: absolute;
    left: 707px;
    top: 460px;
    width: 30px;
    height: 30px;
    z-index: 100;
}

#pa2{
    position: absolute;
    left: 770px;
    top: 445px;
    font-size: 20px;
    font-weight: bold;

}

#ellips6{
    position: absolute;
    left: 900px;
    top: 450px;
    width: 50px;
    height: 50px;
}
#icon2{
    position: absolute;
    left: 910px;
    top: 460px;
    width: 30px;
    height: 30px;
    z-index: 100;
}
#pa3 {
    position: absolute;
    left: 970px;
    top: 445px;
    font-size: 20px;
    font-weight: bold;
}
#ellips7{
    position: absolute;
    left: 1100px;
    top: 450px;
    width: 50px;
    height: 50px;
}

#icon1{
    position: absolute;
    left: 1110px;
    top: 460px;
    width: 30px;
    height: 30px;
    z-index: 100;
}
#pa{
    position: absolute;
    left: 1170px;
    top: 445px;
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (min-width: 750px) and (max-width: 1200px) {
    #ellips6{
        position: absolute;
        left: 510px;
        top: 510px;
        width: 50px;
        height: 50px;
    }
    #icon2{
        position: absolute;
        left: 520px;
        top: 517px;
        width: 30px;
        height: 30px;
        z-index: 100;
    }
    #pa3 {
        position: absolute;
        left: 575px;
        top: 500px;
        font-size: 20px;
        font-weight: bold;
    }
    #ellips7{
        position: absolute;
        left: 700px;
        top: 510px;
        width: 50px;
        height: 50px;
    }

    #icon1{
        position: absolute;
        left: 710px;
        top: 517px;
        width: 30px;
        height: 30px;
        z-index: 100;
    }
    #pa{
        position: absolute;
        left: 770px;
        top: 500px;
        font-size: 20px;
        font-weight: bold;
    }

    #ul{
        position: absolute;
        left: 490px;
        top: 320px;
    }



}
#skillSet{
    position: relative;
    height: 700px;
    background-color: rgb(169,169,169);
    /*width: 1350px;*/
    top: 33px;

}
#skillH4{
    position: absolute;
    left: 48vw;
    color: #D1D0BA;
    display: none;

}

#skillH1{
    position: absolute;
    /*align-content: center;*/
    left: 42.5vw;
    font-weight: bolder;
    top: 30px;
    font-size: 50px;
}

#skillP{
    position: absolute;
    top: 120px;
    left: 20vw;
    font-size: 1.5vw;
}

#htmlDiv{
    position: absolute;
    left: 2vw;
    width: 18vw;
    height: 33vh;
    border: 1px solid black;
    margin: 30px;
    top: 170px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#html{
    position: absolute;
    /*left: 40px;*/
    width: 10vw;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 2.5vw;
}

#htmlH5{
    position: absolute;
    font-size: 20px;
    left: 7vw;
    top: -10px;
}

#cssDiv{
    position: absolute;
    left: 26vw;
    width: 18vw;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 170px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#css{
    position: absolute;
    /*left: 40px;*/
    width: 10vw;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 2.5vw;
}

#cssH5{
    position: absolute;
    font-size: 20px;
    left: 7vw;
    top: -10px;
}

#jsDiv{
    position: absolute;
    left: 50vw;
    width: 18vw;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 170px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#js{
    position: absolute;
    /*left: 40px;*/
    width: 10vw;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 2.5vw;
}

#jsH5{
    position: absolute;
    font-size: 20px;
    left: 8vw;
    top: -10px;
}

#mysqlDiv{
    position: absolute;
    right: 2vw;
    /*left: 985px;*/
    width: 18vw;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 170px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#mysql{
    position: absolute;
    /*left: 40px;*/
    width: 10vw;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 2.5vw;
}

#mysqlH5{
    position: absolute;
    font-size: 20px;
    left: 7vw;
    top: -10px;
}

#hybernrtDiv{
    position: absolute;
    left: 2vw;
    width: 18vw;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 400px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#hybernet{
    position: absolute;
    /*left: 40px;*/
    width: 10vw;
    height: 100px;
    margin: 20px;
    top: 50px;
    left: 2.5vw;

}

#hybernetH5{
    position: absolute;
    font-size: 20px;
    left: 6vw;
    top: -10px;
    right: 4.5vw;
}

#springDiv{
    position: absolute;
    left: 26vw;
    width: 18vw;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 400px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#spring{
    position: absolute;
    /*left: 40px;*/
    width: 10vw;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 2.5vw;
}

#springH5{
    position: absolute;
    font-size: 20px;
    left: 5vw;
    top: -10px;
}

#reactDiv{
    position: absolute;
    left: 50vw;
    width: 18vw;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 400px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#react{
    position: absolute;
    /*left: 40px;*/
    width: 10vw;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 2.5vw;
}

#reactH5{
    position: absolute;
    font-size: 20px;
    left: 7vw;
    top: -10px;
}

#figmaDiv{
    position: absolute;
    right: 2vw;
    /*left: 985px;*/
    width: 18vw;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 400px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#figma{
    position: absolute;
    /*left: 40px;*/
    width: 10vw;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 2.5vw;
}

#figmaH5{
    position: absolute;
    font-size: 20px;
    left: 7vw;
    top: -10px;
}

#serviceSet{
    position: relative;
    height: 960px;
    background-color:whitesmoke;
    /*width: 1350px;*/
    top: 12px;
}

#serviceH4{
    position: absolute;
    left: 600px;
    color: rgb(179,177,143);
}

#serviceH1 {
    position: absolute;
    left: 40vw;
    font-size: 60px;
}

#serviceH6{
    position: absolute;
    left: 15vw;
    font-size: 20px;
    top: 60px;
}

#wdDiv{
    position: absolute;
    width: 25.5vw;
    height: 300px;
    margin: 20px;
    left: 2vw;
    top: 180px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}



#wdS{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -50px;
    left: 20px;
    background-color: rgb(177,180,147);
}

#wdH3{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: 3vw;
    font-weight: bolder;
}

#wdP{
    position: absolute;
    margin: 20px;
    top: 100px;
    left: 20px;
    font-weight: bolder;
    font-size: 1.5vw;
    color: rgb(215,215,215);
}



#wdDiv:hover {
    background-color: rgb(177, 180, 147);
}

#wdDiv:hover #wdS {
    background-color: whitesmoke;
}

#waDiv{
    position: absolute;
    width: 25.5vw;
    height: 300px;
    margin: 20px;
    left: 475px;
    top: 180px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#wbdDiv{
    position: absolute;
    width: 25.5vw;
    height: 300px;
    margin: 20px;
    left: 67.5vw;
    top: 180px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#wbdS{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -50px;
    left: 20px;
    background-color: rgb(177,180,147);
}

#wbdH3{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: 40px;
    font-weight: bolder;
}


#wbdp{
    position: absolute;
    margin: 20px;
    top: 100px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(215,215,215);
}

#wbdDiv:hover {
    background-color: rgb(177, 180, 147);
}

#wbdDiv:hover #wbdS {
    background-color: whitesmoke;
}


#waDiv{
    position: absolute;
    width: 25.5vw;
    height: 300px;
    margin: 20px;
    left: 35vw;
    top: 180px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#waS{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -50px;
    left: 20px;
    background-color: rgb(177,180,147);
}

#waH3{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: 40px;
    font-weight: bolder;
}


#waP{
    position: absolute;
    margin: 20px;
    top: 100px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(215,215,215);
}

#waDiv:hover {
    background-color: rgb(177, 180, 147);
}

#waDiv:hover #waS {
    background-color: whitesmoke;
}


#logDiv{
    position: absolute;
    width: 25.5vw;
    height: 300px;
    margin: 20px;
    left: 35vw;
    top: 570px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#logS{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -50px;
    left: 20px;
    background-color: rgb(177,180,147);
}

#logH3{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: 40px;
    font-weight: bolder;
}


#logP{
    position: absolute;
    margin: 20px;
    top: 100px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(215,215,215);
}

#logDiv:hover {
    background-color: rgb(177, 180, 147);
}

#logDiv:hover #logS {
    background-color: whitesmoke;
}

#banDiv{
    position: absolute;
    width: 25.5vw;
    height: 300px;
    margin: 20px;
    left: 2vw;
    top: 570px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#banS{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -50px;
    left: 20px;
    background-color: rgb(177,180,147);
}

#banH3{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: 40px;
    font-weight: bolder;
}


#banP{
    position: absolute;
    margin: 20px;
    top: 100px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(215,215,215);
}

#banDiv:hover {
    background-color: rgb(177, 180, 147);
}

#banDiv:hover #banS {
    background-color: whitesmoke;
}

#preDiv{
    position: absolute;
    width: 25.5vw;
    height: 300px;
    margin: 20px;
    left: 67.5vw;
    top: 570px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#preS{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -50px;
    left: 20px;
    background-color: rgb(177,180,147);
}

#preH3{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: 40px;
    font-weight: bolder;
}


#preP{
    position: absolute;
    margin: 20px;
    top: 100px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(215,215,215);
}

#preDiv:hover {
    background-color: rgb(177, 180, 147);
}

#preDiv:hover #preS {
    background-color: whitesmoke;
}

@media only screen and (min-width: 750px) and (max-width: 1200px) {
    #wdP{
        position: absolute;
        margin: 20px;
        top: 130px;
        left: 20px;
        font-weight: bolder;
        font-size: 1.8vw;
        color: rgb(215,215,215);
    }

    #wbdp{
        position: absolute;
        margin: 20px;
        top: 130px;
        left: 20px;
        font-weight: bolder;
        font-size: 1.8vw;
        color: rgb(215,215,215);
    }

    #waP{
        position: absolute;
        margin: 20px;
        top: 130px;
        left: 20px;
        font-weight: bolder;
        font-size: 1.8vw;
        color: rgb(215,215,215);
    }


    #logP{
        position: absolute;
        margin: 20px;
        top: 130px;
        left: 20px;
        font-weight: bolder;
        font-size: 1.8vw;
        color: rgb(215,215,215);
    }

    #banP{
        font-size: 1.8vw;
        top: 130px;
    }

    #preP{
        font-size: 1.8vw;
        top: 130px;
    }
}

#sI1{
    position: absolute;
   left: 10px;
    top: 10px;
}

#sI2{
    position: absolute;
    left: 15px;
    top: 15px;
    width: 70px;
    height: 70px;
}

#sI3{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 80px;
    height: 80px;
}

#sI4{
    position: absolute;
    left: 20px;
    top: 10px;
    width: 70px;
    height: 70px;
}

#sI5{
    position: absolute;
    left: 10px;
    top: 5px;

}

#sI6{
    position: absolute;
    left: 15px;
    top: 15px;
    width: 70px;
    height: 70px;
}

#assignmentSet{
    position: relative;
    height: 1200px;
    background-color: rgb(169,169,169);
    /*width: 1350px;*/
    top: -10px;
}

#AssH1{
    position: absolute;
    left: 40vw;
    font-size: 50px;
}

#assH6{
    position: absolute;
    font-size: 1.5vw;
    left: 150px;
    top: 60px;
}

/*.assignment{*/
/*    position: absolute;*/
/*    top: 50px;*/
/*    left: 5vw;*/
/*    width: 25vw;*/
/*    height: 200px;*/
/*   border-radius: 20px;*/
/*    display: flex;*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*    grid-template-rows: repeat(4, 1fr);*/
/*    grid-gap: 2rem;*/
/*    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);*/
/*    background-color: white;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*    align-items: center;*/
/*    font-size: 2vw;*/
/*    font-weight: bold;*/
/*}*/




#oopDiv{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 170px;
    left: 70px;
    background-color: rgb(217,217,217);
}

#oopDiv:hover{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 170px;
    left: 70px;
    background-color: rgb(177,180,147);
}

#oopH3 {
    position: absolute;
    left: 450px;
    font-size: 30px;

}

#oopImg{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 550px;
    top: 80px;
}

#oopNav{
    position: absolute;
    background-color: white;
    color: black;
    margin-left: 10px;
    font-weight: bold;
    right: 30px;
    font-size: 16px; /* Adjust font size */
    top: 100px;
    /*right: -200px;*/
    left: -10px;
    width: 1200px;
    height: 80px;
    padding-top: 20px;
    transition: right 0.5s;
    z-index: -200;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}

#oopDiv a{
    margin-left: 50px;
    /*margin-top: 0px;*/
    /*margin-bottom: 5px;*/
}

#seDiv{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 400px;
    left: 70px;
    background-color: rgb(217,217,217);
}

#seNav{
    position: absolute;
    background-color: white;
    color: black;
    margin-left: 10px;
    font-weight: bold;
    right: 30px;
    font-size: 16px; /* Adjust font size */
    top: 100px;
    /*right: -200px;*/
    left: -10px;
    width: 1200px;
    height: 80px;
    padding-top: 20px;
    transition: right 0.5s;
    z-index: -200;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}

#seDiv a{
    margin-left: 50px;
    /*margin-top: 0px;*/
    /*margin-bottom: 5px;*/
}

#seDiv:hover{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 400px;
    left: 70px;
    background-color: rgb(177,180,147);
}


#seH3{
    position: absolute;
    left: 450px;
    font-size: 30px;
}

#seImg{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 550px;
    top: 80px;
}

#ormDiv{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 630px;
    left: 70px;
    background-color: rgb(217,217,217);
}

#ormNav{
    position: absolute;
    background-color: white;
    color: black;
    margin-left: 10px;
    font-weight: bold;
    right: 30px;
    font-size: 16px; /* Adjust font size */
    top: 100px;
    /*right: -200px;*/
    left: -10px;
    width: 1200px;
    height: 80px;
    padding-top: 20px;
    transition: right 0.5s;
    z-index: -200;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}

#ormDiv a{
    margin-left: 50px;
    /*margin-top: 0px;*/
    /*margin-bottom: 5px;*/
}

#ormDiv:hover{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 630px;
    left: 70px;
    background-color: rgb(177, 180, 147);
}

#ormH3{
    position: absolute;
    left: 450px;
    font-size: 30px;
}

#ormImg{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 550px;
    top: 80px;
}

#itDiv{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 860px;
    left: 70px;
    background-color:  rgb(217,217,217);
}

#itDiv:hover {
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 860px;
    left: 70px;
    background-color: rgb(177, 180, 147);
}

#itNav{
    position: absolute;
    background-color: white;
    color: black;
    margin-left: 10px;
    font-weight: bold;
    right: 30px;
    font-size: 16px; /* Adjust font size */
    top: 100px;
    /*right: -200px;*/
    left: -10px;
    width: 1200px;
    height: 80px;
    padding-top: 20px;
    transition: right 0.5s;
    z-index: -200;
    /*display: none;*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}

#itDiv a{
    margin-left: 50px;
    /*margin-top: 0px;*/
    /*margin-bottom: 5px;*/
}

#itH3{
    position: absolute;
    left: 450px;
    font-size: 30px;
}

#itImg{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 550px;
    top: 80px;
}

#downBtn{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 100px;
    bottom: 20px;
    left: 650px;
}

#projectDiv{
    position: relative;
    height: 1150px;
    background-color: whitesmoke;
    top: -10px;
}

#proH4{
    position: absolute;
    left: 43vw;
    font-size: 20px;
    color: rgb(179,177,143);
}

#proH1{
    position: absolute;
    left: 40vw;
    font-size: 5vw;
    font-weight: bold;
    top: 20px;
}

#proH6{
    position: absolute;
    left: 5vw;
    font-size: 1.5vw;
    top: 100px;
    color: rgb(179,177,143);
}

#imsMvcImg{
    position: absolute;
    width: 29vw;
    height: 400px;

}

#mvc{
    position: absolute;
    width: 29vw;
    height: 400px;
    margin: 30px;
    top: 170px;
    /*border: 7px solid black;*/
}

#lyd{
    position: absolute;
    width: 29vw;
    height: 400px;
    margin: 30px;
    top: 170px;
    left: 32.2vw;
    /*border: 7px solid black;*/

}

#imsLimg{
    position: absolute;
    width: 29vw;
    height: 400px;
}

#game{
    position: absolute;
    width: 29vw;
    height: 400px;
    margin: 30px;
    top: 170px;
    left: 64.5vw;
    /*border: 7px solid black;*/

}


#gameImg{
    position: absolute;
    width: 29vw;
    height: 400px;
}

#chat{
    position: absolute;
    width: 29vw;
    height: 400px;
    margin: 30px;
    top: 610px;
    left: 15vw;
    /*border: 7px solid black;*/

}

#chatImg{
    position: absolute;
    width: 29vw;
    height: 400px;
}

#hotel{
    position: absolute;
    width: 29vw;
    height: 400px;
    margin: 30px;
    top: 610px;
    left: 47.5vw;
    /*border: 7px solid black;*/

}

#hotelImg{
    position: absolute;
    width: 29vw;
    height: 400px;
}

#imsMvcH6 {
    position: absolute;
    z-index: -200;
}

#imsMvcH6 span{
    position: absolute;
    z-index: -200;
    left: 70px;
    color: white;
}

#imsMvcImg:hover + #imsMvcH6 {
    z-index: 300;
    color: white;
    font-size: 2vw;
    left: 1.5vw;
    top: 270px;
}

#imsMvcImg:hover + #imsMvcH6 span {
    z-index: 300;
    color: white;
    font-size: 1.5vw;
    left: 7vw;
    top: 35px;
}

#imsLH6{
    position: absolute;
    z-index: -200;
}

#imsLH6 span{
    position: absolute;
    z-index: -200;
    left: 70px;
    color: white;
}

#imsLimg:hover + #imsLH6 {
    z-index: 300;
    color: white;
    font-size: 2vw;
    left: 1.5vw;
    top: 270px;
}

#imsLimg:hover + #imsLH6 span {
    z-index: 300;
    color: white;
    font-size: 1.5vw;
    left: 7vw;
    top: 35px;
}

#chatH6 {
    position: absolute;
    z-index: -200;
}

#chatImg:hover + #chatH6 {
    z-index: 300;
    color: white;
    font-size: 2vw;
    left: 4vw;
    top: 270px;
}

#gameH6{
    position: absolute;
    z-index: -200;
}

#gameImg:hover + #gameH6 {
    z-index: 300;
    color: white;
    font-size: 2vw;
    left: 5vw;
    top: 270px;
}

#hotelH6{
    position: absolute;
    z-index: -200;
}

#hotelImg:hover + #hotelH6 {
    z-index: 300;
    color: white;
    font-size: 2vw;
    left: 2vw;
    top: 270px;
}




#contactSet{
    position: relative;
    background-color: silver;
    top: -40px;
    height: 950px;
}

#conH4{
    position: absolute;
    left: 45vw;
    top: 20px;
    color: rgb(179,177,143);

}

#conH1{
    position: absolute;
    left: 37vw;
    top: 30px;
    /*font-weight: bold;*/
    font-size: 5vw;
}

#conH6{
    position: absolute;
    left: 14vw;
    top: 120px;
    font-size: 1.5vw;
    color: rgb(179,177,143);

}

#inputDiv{
    position: absolute;
    left:3.5vw;
    width: 62vw;
    height: 600px;
    background-color: whitesmoke;
    top: 250px;
    z-index: 50;
}

#name{
    position: absolute;
    top: 50px;
    width: 28vw;
    height: 50px;
    left: 3vw;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}


#email{
    position: absolute;
    top: 50px;
    width: 25.5vw;
    height: 50px;
    left: 33vw;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}

#subject{
    position: absolute;
    width: 55.5vw;
    height: 50px;
    left: 3vw;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    top: 150px;
}

#msg{
    position: absolute;
    width: 55.5vw;
    height: 200px;
    left: 3vw;
    top: 250px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

#sendBtn{
    position: absolute;
    width: 12vw;
    height: 50px;
    left: 3vw;
    top: 500px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-size: 20px;
}

#sendBtn:hover{
    background-color: rgb(177,180,147);
}

#addS{
    position: absolute;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 100px;
    background-color: rgb(177,180,147);
    left: 68vw;
    top: 250px;
}

#addressP1{
    position: absolute;
    left: 76vw;
    top: 240px;
    font-weight: bold;
    font-size: 20px;
}

#addressP2{
    position: absolute;
    left: 76vw;
    top: 270px;
    font-weight: bold;
    font-size: 20px;
   color: rgb(179,177,143);
}

#addressImg{
    position: absolute;
    left: 70vw;
    top: 275px;
    width: 4vw;
    height: 4vw;
}

#phoneS{
    position: absolute;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 100px;
    background-color: rgb(177,180,147);
    left: 68vw;
    top: 400px;
}

#phoneImg{
    position: absolute;
    left: 2vw;
    top: 25px;
    width: 4vw;
    height: 4vw;
}

#phoneP1{
    position: absolute;
    left: 76vw;
    top: 390px;
    font-weight: bold;
    font-size: 20px;
}

#phoneP2{
    position: absolute;
    left: 76vw;
    top: 420px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(179,177,143);
}

#emailS{
    position: absolute;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 100px;
    background-color: rgb(177,180,147);
    left: 68vw;
    top: 550px;
}

#emailImg{
    position: absolute;
    left: 2vw;
    top: 25px;
    width: 4vw;
    height: 4vw;
}

#emailP1{
    position: absolute;
    left: 76vw;
    top: 540px;
    font-weight: bold;
    font-size: 20px;
}

#emailP2{
    position: absolute;
    left: 76vw;
    top: 570px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(179,177,143);
}

#footerSet{
    position: relative;
    height: 200px;
    top: -40px;
    background-color: rgb(35,41,49);
}

#myName{
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 40px;
    color: white;
}

#insta {
    position: absolute;
    right: 20px;
    top: 20px;
}

#whatsapp{
    position: absolute;
    right: 80px;
    top: 20px;
}

#fb{
    position: absolute;
    right: 140px;
    top: 20px;
}

#last{
    position: absolute;
    bottom: 20px;
    left: 20vw;
    font-size: 1.5vw;
    color: white;
}










/*====================================Animation============================*/
#allBox {
    position: absolute; /* or another position value based on your layout needs */
    display: grid; /* Specify that this element will be a grid container */
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal fractional width */
    grid-template-rows: repeat(4, 1fr); /* Four rows with equal fractional height */
    grid-gap: 2rem; /* Gap between grid items */
    justify-content: center; /* Center items along the row axis */
    align-content: center; /* Center items along the column axis (if grid area is larger than items) */
    align-items: center; /* Align items individually along the column axis */
}


.card {
    position: relative;
    width: 25vw;
    height: 200px;
    left: 10vw;
    top: 180px;
    background: #B1B493;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 1s ease-in-out;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
}

/*.card {*/
/*    position: relative;*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    background: lightgrey;*/
/*    border-radius: 30px;*/
/*    overflow: hidden;*/
/*    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
/*    transition: all 1s ease-in-out;*/
/*    border: 2px solid rgb(255, 255, 255);*/
/*}*/

.background {
    position: absolute;
    inset: 0;
    /*background-color: #4158D0;*/
    /*background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);*/
}

.logo {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    transition: all 0.6s ease-in-out;
    font-size: 1.3em;
    font-weight: 600;
    color: black;
    letter-spacing: 3px;
}

.logo .logo-svg {
    fill: white;
    width: 30px;
    height: 30px;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.icon .svg {
    fill: rgba(255, 255, 255, 0.797);
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.box {
    position: absolute;
    padding: 10px;
    text-align: right;
    background: white;
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 1px solid white;
    border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
    box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
    transform-origin: bottom left;
    transition: all 1s ease-in-out;
}

.box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.box:hover .svg {
    fill: white;
}

.box1 {
    width: 70%;
    height: 70%;
    bottom: -70%;
    left: -70%;
}

.box1::before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #ff53d4 60%, #62c2fe 90%);
}

.box1:hover::before {
    opacity: 1;
}

.box1:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
}

.box2 {
    width: 50%;
    height: 50%;
    bottom: -50%;
    left: -50%;
    transition-delay: 0.2s;
}

.box2::before {
    background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00ACEE 90%);
}

.box2:hover::before {
    opacity: 1;
}

.box2:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
}

.box3 {
    width: 30%;
    height: 30%;
    bottom: -30%;
    left: -30%;
    transition-delay: 0.4s;
}

.box3::before {
    background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
}

.box3:hover::before {
    opacity: 1;
}

.box3:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
}

.box4 {
    width: 10%;
    height: 10%;
    bottom: -10%;
    left: -10%;
    transition-delay: 0.6s;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .box {
    bottom: -1px;
    left: -1px;
}

.card:hover .logo {
    transform: translate(70px, -52px);
    letter-spacing: 0px;
}

#aDiv1{
    top: 160px;
    left: 8vw;
}

#aDiv2{
    top: 160px;
    left: 36vw;
}

#aDiv3{
    top: 160px;
    left: 64vw;
}

#aDiv4{
    top: 400px;
    left: 8vw;
}

#aDiv5{
    top: 400px;
    left: 36vw;
}

#aDiv6{
    top: 400px;
    left: 64vw;
}

#aDiv7{
    top: 640px;
    left: 8vw;
}

#aDiv8{
    top: 640px;
    left: 36vw;
}

#aDiv9{
    top: 640px;
    left: 64vw;
}

#aDiv10{
    top: 880px;
    left: 8vw;
}

#aDiv11{
    top: 880px;
    left: 36vw;
}

#aDiv12{
    top: 880px;
    left: 64vw;
}