body{
    margin: 0px;
    padding: 0px;
}
#hed{
    position: fixed;
    z-index: 200;
}

body{
    margin: 0px;
    padding: 0px;
}


    #navDiv {
        position: absolute;
        height: 90px;
        width: 1350px;
        background-color: white;
        top: 0px;
        display: flex;
    }



#imgNav{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 800px;
    z-index: 100;
}


    #nav {
        position: absolute;
        margin-left: 30px;
        right: 30px;
        color: white;
        font-size: 20px;
        top: 30px;
        z-index: 110;
        display: block;
        unicode-bidi: isolate;

    }

    header>div>nav>a{
        padding: 5px 10px;
        /*border-right: 1px solid black;*/
    }

header>div>nav>a:hover{
    color: black;
}

    #tag {
        position: absolute;
        font-style: normal;
        font-size: 50px;
        left: 30px;
        bottom: -30px;
    }

        /* Tablet */

    #pback5 {
        position: absolute;
        right: 700px;
        bottom: 0px;
        /*width: 90px;*/
        z-index: 0;
        /*height: 120px;*/
    }


#pro{
    position: relative;
    height: 530px;
    background-color: white;
    width: 1350px;
    top: 90px;
}

#pback1{
    position: absolute;
    left: 500px;
    bottom: 0px;
    width: 600px;
}

#pback2{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 530px;
    width: 755px;
}

#pback3{
    position: absolute;
    right: 450px;
    bottom: 0px;
}

#profile{
    position: absolute;
    right: 200px;
    z-index: 100;
    bottom: 10px;
}
#p1{
    position: absolute;
    font-size: 80px;
    bottom:200px;
    z-index: 100;
    font-weight: bold;
    left: 10px;
}

#p2{
    position: absolute;
    font-size: 50px;
    bottom:190px;
    z-index: 100;
    font-weight: bold;
    left: 10px;
}

#btn1{
    position: absolute;
    bottom: 200px;
    left: 20px;
    height: 30px;
    background-color: #D1D0BA;
    font-weight: bold;
    /*border-bottom-left-radius: 10px;*/
}
#btn2{
    position: absolute;
    bottom: 200px;
    left: 100px;
    height: 30px;
}

#quality{
    position: relative;
    height: 200px;
    top: 73px;
    width: 1350px;
    background-color: darkgray;
}

#ellips1{
    position: absolute;
    left: 100px;
    top: 40px;
}

#image1{
    position: absolute;
    left: 130px;
    top: 70px;
}


#pp1{
    position: absolute;
    left: 230px;
    top: 0px;
    font-size: 50px;

}

#pp2{
    position: absolute;
    left: 230px;
    top: 90px;
    font-size: 20px;
}
#ellips2{
    position: absolute;
    left: 500px;
    top: 40px;
}

#image2{
    position: absolute;
    left: 515px;
    top: 50px;
}

#pp3{
    position: absolute;
    left: 620px;
    top: 0px;
    font-size: 50px;
}

#pp4{
    position: absolute;
    left: 620px;
    top: 90px;
    font-size: 20px;
}
#ellips3{
    position: absolute;
    right: 400px;
    top: 40px;
}

#image3{
    position: absolute;
    left: 855px;
    top: 50px;
}

#pp5{
    position: absolute;
    left: 970px;
    top: 0px;
    font-size: 50px;
}

#pp6{
    position: absolute;
    left: 970px;
    top: 90px;
    font-size: 20px;
}
#about{
    position: relative;
    height: 600px;
    background-color: white;
    width: 1350px;
    top: 54px;
}
#profile2{
    position: absolute;
    height: 500px;
    width: 400px;
    bottom: 30px;
    left: 50px;
    margin: 20px;
}

#intro{
    position: absolute;
    left: 510px;
    top: 80px;
    font-size: 20px;
}
#me{
    position: absolute;
    left: 510px;
    top: 100px;
    font-size: 50px;
}

#dis{
    position: absolute;
    left: 510px;
    top: 180px;
}

#ul{
    position: absolute;
    left: 490px;
    top: 280px;
}

#ellips4{
    position: absolute;
    left: 510px;
    top: 450px;
    width: 50px;
    height: 50px;

}

#icon4{
    position: absolute;
    left: 520px;
    top: 460px;
    width: 30px;
    height: 30px;
    z-index: 100;
}

#pa1{
    position: absolute;
    left: 570px;
    top: 445px;
    font-size: 20px;
    font-weight: bold;
}

#ellips5{
    position: absolute;
    left: 700px;
    top: 450px;
    width: 50px;
    height: 50px;

}
#icon3{
    position: absolute;
    left: 707px;
    top: 460px;
    width: 30px;
    height: 30px;
    z-index: 100;
}

#pa2{
    position: absolute;
    left: 770px;
    top: 445px;
    font-size: 20px;
    font-weight: bold;

}

#ellips6{
    position: absolute;
    left: 900px;
    top: 450px;
    width: 50px;
    height: 50px;
}
#icon2{
    position: absolute;
    left: 910px;
    top: 460px;
    width: 30px;
    height: 30px;
    z-index: 100;
}
#pa3 {
    position: absolute;
    left: 970px;
    top: 445px;
    font-size: 20px;
    font-weight: bold;
}
#ellips7{
    position: absolute;
    left: 1100px;
    top: 450px;
    width: 50px;
    height: 50px;
}

#icon1{
    position: absolute;
    left: 1110px;
    top: 460px;
    width: 30px;
    height: 30px;
    z-index: 100;
}
#pa{
    position: absolute;
    left: 1170px;
    top: 445px;
    font-size: 20px;
    font-weight: bold;
}

#skillSet{
    position: relative;
    height: 700px;
    background-color: rgb(169,169,169);
    width: 1350px;
    top: 33px;

}
#skillH4{
    position: absolute;
    left: 650px;
    color: #D1D0BA;

}

#skillH1{
    position: absolute;
    /*align-content: center;*/
    left: 590px;
    font-weight: bolder;
    top: 30px;
    font-size: 50px;
}

#skillP{
    position: absolute;
    top: 120px;
    left: 250px;
    font-size: 20px;
}

#htmlDiv{
    position: absolute;
    left: 30px;
    width: 250px;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 170px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#html{
    position: absolute;
    /*left: 40px;*/
    width: 150px;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 30px;
}

#htmlH5{
    position: absolute;
    font-size: 20px;
    left: 95px;
    top: -10px;
}

#cssDiv{
    position: absolute;
    left: 355px;
    width: 250px;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 170px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#css{
    position: absolute;
    /*left: 40px;*/
    width: 150px;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 30px;
}

#cssH5{
    position: absolute;
    font-size: 20px;
    left: 95px;
    top: -10px;
}

#jsDiv{
    position: absolute;
    left: 680px;
    width: 250px;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 170px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#js{
    position: absolute;
    /*left: 40px;*/
    width: 150px;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 30px;
}

#jsH5{
    position: absolute;
    font-size: 20px;
    left: 110px;
    top: -10px;
}

#mysqlDiv{
    position: absolute;
    right: 30px;
    /*left: 985px;*/
    width: 250px;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 170px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#mysql{
    position: absolute;
    /*left: 40px;*/
    width: 150px;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 30px;
}

#mysqlH5{
    position: absolute;
    font-size: 20px;
    left: 95px;
    top: -10px;
}

#hybernrtDiv{
    position: absolute;
    left: 30px;
    width: 250px;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 400px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#hybernet{
    position: absolute;
    /*left: 40px;*/
    width: 150px;
    height: 100px;
    margin: 20px;
    top: 50px;
    left: 30px;
}

#hybernetH5{
    position: absolute;
    font-size: 20px;
    left: 95px;
    top: -10px;
}

#springDiv{
    position: absolute;
    left: 355px;
    width: 250px;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 400px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#spring{
    position: absolute;
    /*left: 40px;*/
    width: 150px;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 30px;
}

#springH5{
    position: absolute;
    font-size: 20px;
    left: 80px;
    top: -10px;
}

#reactDiv{
    position: absolute;
    left: 680px;
    width: 250px;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 400px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#react{
    position: absolute;
    /*left: 40px;*/
    width: 150px;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 30px;
}

#reactH5{
    position: absolute;
    font-size: 20px;
    left: 100px;
    top: -10px;
}

#figmaDiv{
    position: absolute;
    right: 30px;
    /*left: 985px;*/
    width: 250px;
    height: 200px;
    border: 1px solid black;
    margin: 30px;
    top: 400px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#figma{
    position: absolute;
    /*left: 40px;*/
    width: 150px;
    height: 150px;
    margin: 20px;
    top: 25px;
    left: 30px;
}

#figmaH5{
    position: absolute;
    font-size: 20px;
    left: 100px;
    top: -10px;
}

#serviceSet{
    position: relative;
    height: 960px;
    background-color:whitesmoke;
    /*width: 1350px;*/
    top: 12px;
}

#serviceH4{
    position: absolute;
    left: 600px;
    color: rgb(179,177,143);
}

#serviceH1 {
    position: absolute;
    left: 550px;
    font-size: 60px;
}

#serviceH6{
    position: absolute;
    left: 200px;
    font-size: 20px;
    top: 60px;
}

#wdDiv{
    position: absolute;
    width: 350px;
    height: 300px;
    margin: 20px;
    left: 30px;
    top: 180px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#wdS{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -50px;
    left: 20px;
    background-color: rgb(177,180,147);
}

#wdH3{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: 40px;
    font-weight: bolder;
}

#wdP{
    position: absolute;
    margin: 20px;
    top: 100px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(215,215,215);
}

#wdDiv:hover {
    background-color: rgb(177, 180, 147);
}

#wdDiv:hover #wdS {
    background-color: whitesmoke;
}

#waDiv{
    position: absolute;
    width: 350px;
    height: 300px;
    margin: 20px;
    left: 475px;
    top: 180px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#wbdDiv{
    position: absolute;
    width: 350px;
    height: 300px;
    margin: 20px;
    left: 920px;
    top: 180px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#wbdS{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -50px;
    left: 20px;
    background-color: rgb(177,180,147);
}

#wbdH3{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: 40px;
    font-weight: bolder;
}


#wbdp{
    position: absolute;
    margin: 20px;
    top: 100px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(215,215,215);
}

#wbdDiv:hover {
    background-color: rgb(177, 180, 147);
}

#wbdDiv:hover #wbdS {
    background-color: whitesmoke;
}


#waDiv{
    position: absolute;
    width: 350px;
    height: 300px;
    margin: 20px;
    left: 478px;
    top: 180px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#waS{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -50px;
    left: 20px;
    background-color: rgb(177,180,147);
}

#waH3{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: 40px;
    font-weight: bolder;
}


#waP{
    position: absolute;
    margin: 20px;
    top: 100px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(215,215,215);
}

#waDiv:hover {
    background-color: rgb(177, 180, 147);
}

#waDiv:hover #waS {
    background-color: whitesmoke;
}


#logDiv{
    position: absolute;
    width: 350px;
    height: 300px;
    margin: 20px;
    left: 478px;
    top: 570px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#logS{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -50px;
    left: 20px;
    background-color: rgb(177,180,147);
}

#logH3{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: 40px;
    font-weight: bolder;
}


#logP{
    position: absolute;
    margin: 20px;
    top: 100px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(215,215,215);
}

#logDiv:hover {
    background-color: rgb(177, 180, 147);
}

#logDiv:hover #logS {
    background-color: whitesmoke;
}

#banDiv{
    position: absolute;
    width: 350px;
    height: 300px;
    margin: 20px;
    left: 30px;
    top: 570px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#banS{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -50px;
    left: 20px;
    background-color: rgb(177,180,147);
}

#banH3{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: 40px;
    font-weight: bolder;
}


#banP{
    position: absolute;
    margin: 20px;
    top: 100px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(215,215,215);
}

#banDiv:hover {
    background-color: rgb(177, 180, 147);
}

#banDiv:hover #banS {
    background-color: whitesmoke;
}

#preDiv{
    position: absolute;
    width: 350px;
    height: 300px;
    margin: 20px;
    left: 920px;
    top: 570px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#preS{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: -50px;
    left: 20px;
    background-color: rgb(177,180,147);
}

#preH3{
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: 40px;
    font-weight: bolder;
}


#preP{
    position: absolute;
    margin: 20px;
    top: 100px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(215,215,215);
}

#preDiv:hover {
    background-color: rgb(177, 180, 147);
}

#preDiv:hover #preS {
    background-color: whitesmoke;
}

#sI1{
    position: absolute;
   left: 10px;
    top: 10px;
}

#sI2{
    position: absolute;
    left: 15px;
    top: 15px;
    width: 70px;
    height: 70px;
}

#sI3{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 80px;
    height: 80px;
}

#sI4{
    position: absolute;
    left: 20px;
    top: 10px;
    width: 70px;
    height: 70px;
}

#sI5{
    position: absolute;
    left: 10px;
    top: 5px;

}

#sI6{
    position: absolute;
    left: 15px;
    top: 15px;
    width: 70px;
    height: 70px;
}

#assignmentSet{
    position: relative;
    height: 1200px;
    background-color: rgb(169,169,169);
    /*width: 1350px;*/
    top: -10px;
}

#AssH1{
    position: absolute;
    left: 550px;
    font-size: 50px;
}

#assH6{
    position: absolute;
    font-size: 20px;
    left: 150px;
    top: 60px;
}

#oopDiv{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 170px;
    left: 70px;
    background-color: rgb(217,217,217);
}

#oopDiv:hover{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 170px;
    left: 70px;
    background-color: rgb(177,180,147);
}

#oopH3 {
    position: absolute;
    left: 450px;
    font-size: 30px;

}

#oopImg{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 550px;
    top: 80px;
}

#seDiv{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 400px;
    left: 70px;
    background-color: rgb(217,217,217);
}

#seDiv:hover{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 400px;
    left: 70px;
    background-color: rgb(177,180,147);
}


#seH3{
    position: absolute;
    left: 450px;
    font-size: 30px;
}

#seImg{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 550px;
    top: 80px;
}

#ormDiv{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 630px;
    left: 70px;
    background-color: rgb(217,217,217);
}

#ormDiv:hover{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 630px;
    left: 70px;
    background-color: rgb(177, 180, 147);
}

#ormH3{
    position: absolute;
    left: 450px;
    font-size: 30px;
}

#ormImg{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 550px;
    top: 80px;
}

#itDiv{
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 860px;
    left: 70px;
    background-color:  rgb(217,217,217);
}

#itDiv:hover {
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 860px;
    left: 70px;
    background-color: rgb(177, 180, 147);
}

#itH3{
    position: absolute;
    left: 450px;
    font-size: 30px;
}

#itImg{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 550px;
    top: 80px;
}

#downBtn{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 100px;
    bottom: 20px;
    left: 650px;
}

