@media only screen and (min-width: 426px) and (max-width: 768px) {

    *{
        margin: 0;
        padding: 0;
    }

    body{
        margin: 0;
        padding: 0;
    }
    #hed {
        position: static; /* Change from fixed to static for normal flow */
        z-index: auto; /* Reset z-index */
    }

    #navDiv {
        position: fixed; /* Change to relative for normal flow */
        height: 80px;
        width: 100%;
        background-color: black;
        /*color: white;*/
        /*font-weight: bold;*/
        display: block;
        align-items: center;
        z-index: 300;/* Center align items vertically */
    }

    #nav {
        position: fixed;
        background-color: black;
        color: white;
        font-size: 16px; /* Adjust font size */
        top: 12vh;
        /*right: -200px;*/
        left:-5vw;
        /*width: 100vw;*/
        height: 300px;
        padding-top: 20px;
        transition: right 0.5s;
        z-index: 2000;
        display: none;/
        /*unicode-bidi: isolate;*/
        /*text-decoration: none;*/

    }

    nav a{
        display: block;
        margin: 10px;
    }

    #menuIcon{
        position: absolute;
        display: block;
        top: 30px;
        width: 40px;
        height: 30px;
        color: white;
        font-weight: bold;
        /*background-color: white;*/
        left: 80vw;
    }

    #timeBar{
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 5px;
        left: 10px;
        color: white;
        background-color: white;
    }

    #tag {
        font-size: 30px; /* Adjust font size */
        color: white;
        position: absolute;
        left: 20px; /* Adjust positioning */
        top: 65%; /* Align tag vertically */
        transform: translateY(-50%);
        display: block;/* Center vertically */
    }

    #imgNav {
        display: none; /* Hide the image */
    }

    #pback5 {
        display: none; /* Hide the image */
    }


 #pro {
        position: relative;
        height: 600px;
        background-color: #D9D9D9;
        width: 100%;
        top: 0px;
    }

    #profile {
        position: absolute;
        left: 5%;
        /*right: 100px; !* Center horizontally *!*/
        z-index: 100;
        bottom: 0vh;
        width: 80vw;
        height: 500px;
        /*top: 10vh;*/
    }

  #p1{
      position: absolute;
      display: block;
      color: white;
      font-size: 7vw; /* Adjust font size */
      bottom: 180px;
      z-index: 110;
      font-weight: bold;
      left: 6vw;
  }

    span{
        color: #B1B493;
    }

    #p1st{
        position: absolute;
        color: #B2B595;
        font-size: 3vw;
        left: 25vw;
        top: 300px;
        z-index: 200;
        font-weight: bold;
    }

    #p2st{
        position: absolute;
        color: #B2B595;
        font-size: 3vw;
        left: 25vw;
        top: 300px;
        z-index: 200;
        font-weight: bold;
    }

    #p2 {
        position: absolute;
        font-size: 8vw; /* Adjust font size */
        bottom: 130px;
        z-index: 110;
        font-weight: bold;
        left: 18vw;
        color: white;
        display: block;
    }

    #ppH1{
        position: absolute;
        font-size:8vw;
        bottom: 30vh;
        z-index: 150;
        font-weight: bold;
        left: 12vw;
        color: white;
        display: none;
    }

    #ppH2{
        position: absolute;
        font-size: 8vw;
        bottom: 21vh;
        color: white;
        z-index: 200;
        font-weight: bold;
        left: 21vw;
        display: none;
    }

    #btn1 {
        position: absolute;
        bottom: 80px;
        left: 27vw;
        height: 30px;
        background-color: #D1D0BA;
        font-weight: bold;
        z-index: 110;
        width: 20VW;
        /*border-bottom-left-radius: 10px;*/
    }

    #btn2 {
        position: absolute;
        bottom: 80px;
        left: 49VW;
        height: 30px;
        width: 20VW;
        z-index: 110;
    }

    #pback1{
        position: absolute;
        display: none;
        left: 500px;
        bottom: 0px;
        width: 600px;
    }

    #pback2{
        position: absolute;
        display: none;
        right: 0px;
        top: 0px;
        height: 530px;
        width: 755px;
    }

    #pback3{
        position: absolute;
        display: none;
        right: 450px;
        bottom: 0px;
    }

    /*=====================================================================================*/

    #quality{
        position: relative;
        height: 200px;
        top: 0px;
        width: 100%;
        background-color: #F8F9FA;
    }

    #ellips1{
        position: absolute;
        left: 3vw;
        top: 40px;
        width: 11vw;
        height: 11vw;
    }

    #image1{
        position: absolute;
        left: 5.5vw;
        top: 60px;
        width: 6vw;
        height: 6vw;
    }


    #pp1{
        position: absolute;
        left: 17vw;
        top: 40px;
        font-size: 6vw;
        font-weight: bold;

    }

    #pp2{
        position: absolute;
        left: 16vw;
        top: 85px;
        font-size: 2vw;
        font-weight: bold;
        color: #B1B493;
    }

    #span2Q {
        position: absolute;
        left: 0vw;
        top: 15px;
        font-size: 2vw;
        font-weight: bold;
        color: #B1B493;
    }

    #ellips2{
        position: absolute;
        left: 35vw;
        top: 40px;
        width: 11vw;
        height: 11vw;
    }

    #image2{
        position: absolute;
        left: 35.5vw;
        top: 40px;
        width: 10vw;
        height: 10vw;
    }

    #pp3{
        position: absolute;
        left: 48vw;
        top: 40px;
        font-size: 6vw;
        font-weight: bold;
    }

    #pp4{
        position: absolute;
        left: 48vw;
        top: 85px;
        font-size: 2vw;
        font-weight: bold;
        color: #B1B493;

    }

    #span3Q {
        position: absolute;
        left: 0vw;
        top: 15px;
        font-size: 2vw;
        font-weight: bold;
        color: #B1B493;
    }
    #ellips3{
        position: absolute;
        left: 67vw;
        top: 40px;
        width: 11vw;
        height: 11vw;
    }

    #image3{
        position: absolute;
        left: 68.5vw;
        top: 47px;
        width: 8vw;
        height: 8vw;
    }

    #pp5{
        position: absolute;
        left: 80vw;
        top: 40px;
        font-size: 6vw;
        font-weight: bold;
    }

    #pp6{
        position: absolute;
        left: 80vw;
        top: 85px;
        font-size: 2vw;
        font-weight: bold;
        color: #B1B493;

    }

    #span4Q {
        position: absolute;
        left: 0vw;
        top: 15px;
        font-size: 2vw;
        font-weight: bold;
        color: #B1B493;
    }


    /*===================================About========================================================*/
    #about{
        position: relative;
        height: 650px;
        background-color: white;
        width: 100%;
        top: 54px;
    }

    #profile2{
        position: absolute;
        height: 600px;
        width: 40vw;
        top: -40px;
        left: 3vw;
        margin: 20px;
        display: block;
    }

    #intro{
        position: absolute;
        left: 50vw;
        top: 40px;
        font-size: 15px;
        color: #B3B18F;
    }
    #me{
        position: absolute;
        left: 50vw;
        top: 60px;
        font-size: 35px;
    }

    #dis{
        position: absolute;
        left: 50vw;
        top: 140px;
        font-size: 2vw;
        margin-right: 4vw;
    }

    #ul{
        position: absolute;
        left: 55vw;
        top: 320px;
        font-weight: bold;
        font-size: 2vw;
        font-family: "Arial Narrow";
    }

    #ellips4{
        position: absolute;
        left: 50vw;
        top: 450px;
        width: 5vw;
        height: 5vw;

    }

    #icon4{
        position: absolute;
        left: 51vw;
        top: 456px;
        width: 3vw;
        height: 3vw;
        z-index: 100;
    }

    #pa1{
        position: absolute;
        left: 56.5vw;
        top: 460px;
        font-size: 15px;
        font-weight: bold;
    }


    #ira1{
        position: absolute;
        display: block;
        left: 67vw;
        top: 428px;
    }

    #ellips5{
        position: absolute;
        left: 72vw;
        top: 450px;
        width: 5vw;
        height: 5vw;

    }
    #icon3{
        position: absolute;
        left: 72.5vw;
        top: 455px;
        width: 4vw;
        height: 4vw;
        z-index: 100;
    }

    #pa2{
        position: absolute;
        left: 78vw;
        top: 460px;
        font-size: 15px;
        font-weight: bold;

    }

    #ellips6{
        position: absolute;
        left: 50vw;
        top: 500px;
        width: 5vw;
        height: 5vw;
    }
    #icon2{
        position: absolute;
        left: 51vw;
        top: 506px;
        width: 3vw;
        height: 3vw;
        z-index: 100;
    }
    #pa3 {
        position: absolute;
        left: 56.5vw;
        top: 510px;
        font-size: 15px;
        font-weight: bold;
    }

    #ira2{
        position: absolute;
        display: block;
        left: 67vw;
        top: 480px;
    }
    #ellips7{

        position: absolute;
        left: 72vw;
        top: 500px;
        width: 5vw;
        height: 5vw;
        display: block;
    }

    #icon1{
        position: absolute;
        left: 73vw;
        top: 507px;
        width: 3vw;
        height: 3vw;
        z-index: 100;
    }
    #pa{
        position: absolute;
        left: 78vw;
        top: 507px;
        font-size: 15px;
        font-weight: bold;
    }

    /*=========================================================Skills=================================================*/
    #skillSet{
        position: relative;
        height: 900px;
        background-color: rgb(169,169,169);
        width: 100%;
        top: 33px;

    }
    #skillH4{
        position: absolute;
        left: 42vw;
        color: #D1D0BA;
        top: 20px;

    }

    #skillH1{
        position: absolute;
        /*align-content: center;*/
        left: 35vw;
        font-weight: bolder;
        top: 40px;
        font-size: 40px;
    }

    #skillP{
        position: absolute;
        top: 120px;
        left: 250px;
        font-size: 20px;
        display: none;
    }

    #htmlDiv{
        position: absolute;
        left: 6vw;
        width: 33vw;
        height: 150px;
        border: 1px solid black;
        margin: 30px;
        top: 150px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    #html{
        position: absolute;
        /*left: 40px;*/
        width: 20vw;
        height: 80px;
        margin: 20px;
        top: 20px;
        left: 3vw;
    }

    #htmlH5{
        position: absolute;
        font-size: 15px;
        left: 13vw;
        top: 17px;
    }

    #cssDiv{
        position: absolute;
        left: 49vw;
        width: 33vw;
        height: 150px;
        border: 1px solid black;
        margin: 30px;
        top: 150px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    #css{
        position: absolute;
        /*left: 40px;*/
        width: 20vw;
        height: 80px;
        margin: 20px;
        top: 20px;
        left: 3vw;
    }

    #cssH5{
        position: absolute;
        font-size: 15px;
        left: 13vw;
        top: 17px;
    }

    #jsDiv{
        position: absolute;
        left: 6vw;
        width: 33vw;
        height: 150px;
        border: 1px solid black;
        margin: 30px;
        top: 660px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    #js{
        position: absolute;
        /*left: 40px;*/
        width: 20vw;
        height: 80px;
        margin: 20px;
        top: 20px;
        left: 3vw;
    }

    #jsH5{
        position: absolute;
        font-size: 15px;
        left: 15vw;
        top: 17px;
    }

    #mysqlDiv{
        position: absolute;
        left: 6vw;
        /*left: 985px;*/
        width: 33vw;
        height: 150px;
        border: 1px solid black;
        margin: 30px;
        top: 320px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    #mysql{
        position: absolute;
        /*left: 40px;*/
        width: 20vw;
        height: 80px;
        margin: 20px;
        top: 20px;
        left: 3vw;
    }

    #mysqlH5{
        position: absolute;
        font-size: 15px;
        left: 13vw;
        top: 17px;
    }

    #hybernrtDiv{
        position: absolute;
        left: 6vw;
        width: 33vw;
        height: 150px;
        border: 1px solid black;
        margin: 30px;
        top: 490px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    #hybernet{
        position: absolute;
        /*left: 40px;*/
        width: 20vw;
        height: 80px;
        margin: 20px;
        top: 22px;
        left: 3vw;
    }

    #hybernetH5{
        position: absolute;
        font-size: 15px;
        left: 11vw;
        top: 17px;
        font-weight: bold;
    }

    #springDiv{
        position: absolute;
        left: 49vw;
        width: 33vw;
        height: 150px;
        border: 1px solid black;
        margin: 30px;
        top: 320px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    #spring{
        position: absolute;
        /*left: 40px;*/
        width: 20vw;
        height: 80px;
        margin: 20px;
        top: 20px;
        left: 2vw;
    }

    #springH5{
        position: absolute;
        font-size: 15px;
        left: 9vw;
        top: 17px;
    }

    #reactDiv{
        position: absolute;
        left: 49vw;
        width: 33vw;
        height: 150px;
        border: 1px solid black;
        margin: 30px;
        top: 660px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    #react{
        position: absolute;
        /*left: 40px;*/
        width: 20vw;
        height: 80px;
        margin: 20px;
        top: 20px;
        left: 3vw;
    }

    #reactH5{
        position: absolute;
        font-size: 15px;
        left: 12vw;
        top: 17px;
    }

    #figmaDiv{
        position: absolute;
        left: 49vw;       /*left: 985px;*/
        width: 33vw;
        height: 150px;
        border: 1px solid black;
        margin: 30px;
        top: 490px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    #figma{
        position: absolute;
        /*left: 40px;*/
        width: 20vw;
        height: 80px;
        margin: 20px;
        top: 20px;
        left: 2vw;
    }

    #figmaH5{
        position: absolute;
        font-size: 15px;
        left: 12vw;
        top: 17px;
    }

    /*===================================================Services======================================*/
    #serviceSet{
        position: relative;
        height: 2500px;
        background-color:whitesmoke;
        width: 100%;
        top: 10px;
    }

    #serviceH4{
        position: absolute;
        left: 40vw;
        color: rgb(179,177,143);
        top: 15px;
    }

    #serviceH1 {
        position: absolute;
        left: 35vw;
        font-size: 50px;
    }

    #sm{
        position: absolute;
        left: 0vw;
        transform: translate(-50%, -50%);
    }

    #serviceH6{
        position: absolute;
        left: 0vw;
        font-size: 13px;
        top: 80px;
        display: none;
    }

    #wdDiv{
        position: absolute;
        width: 80vw;
        height: 300px;
        margin: 20px;
        left: 5vw;
        top: 140px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    #wdS{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        top: -50px;
        left: 20px;
        background-color: rgb(177,180,147);
    }

    #wdH3{
        position: absolute;
        left: 10vw;
        font-size: 25px;
        top: 60px;
        font-weight: bolder;
    }

    #wdP{
        position: absolute;
        margin: 20px;
        top: 75px;
        left: 20px;
        font-weight: bolder;
        font-size: 20px;
        color: rgb(215,215,215);
    }

    #wdDiv:hover,
    #wdDiv:active {
        background-color: rgb(177, 180, 147);
    }


    #wdDiv:active #wdS {
        background-color: whitesmoke;
    }

    #waDiv{
        position: absolute;
        width: 80vw;
        height: 300px;
        margin: 20px;
        left: 5vw;
        top: 360vh;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    #wbdDiv{
        position: absolute;
        width: 80vw;
        height: 300px;
        margin: 20px;
        left: 5vw;
        top: 530px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    #wbdS{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        top: -50px;
        left: 20px;
        background-color: rgb(177,180,147);
    }

    #wbdH3{
        position: absolute;
        left: 20vw;
        font-size: 25px;
        top: 60px;
        font-weight: bolder;
    }


    #wbdp{
        position: absolute;
        margin: 20px;
        top: 75px;
        left: 20px;
        font-weight: bolder;
        font-size: 20px;
        color: rgb(215,215,215);
    }

    #wbdDiv:hover {
        background-color: rgb(177, 180, 147);
    }

    #wbdDiv:hover #wbdS {
        background-color: whitesmoke;
    }


    #waDiv{
        position: absolute;
        width: 80vw;
        height: 300px;
        margin: 20px;
        left: 5vw;
        top: 920px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    #waS{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        top: -50px;
        left: 20px;
        background-color: rgb(177,180,147);
    }

    #waH3{
        position: absolute;
        left: 13vw;
        font-size: 25px;
        top: 60px;
        font-weight: bolder;
    }


    #waP{
        position: absolute;
        margin: 20px;
        top: 75px;
        left: 20px;
        font-weight: bolder;
        font-size: 20px;
        color: rgb(215,215,215);
    }

    #waDiv:hover {
        background-color: rgb(177, 180, 147);
    }

    #waDiv:hover #waS {
        background-color: whitesmoke;
    }


    #logDiv{
        position: absolute;
        width: 80vw;
        height: 300px;
        margin: 20px;
        left: 5vw;
        top: 1310px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    #logS{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        top: -50px;
        left: 20px;
        background-color: rgb(177,180,147);
    }

    #logH3{
        position: absolute;
        left: 18vw;
        font-size: 25px;
        top: 60px;
        font-weight: bolder;
    }


    #logP{
        position: absolute;
        margin: 20px;
        top: 75px;
        left: 20px;
        font-weight: bolder;
        font-size: 20px;
        color: rgb(215,215,215);
    }

    #logDiv:hover {
        background-color: rgb(177, 180, 147);
    }

    #logDiv:hover #logS {
        background-color: whitesmoke;
    }

    #banDiv{
        position: absolute;
        width: 80vw;
        height: 300px;
        margin: 20px;
        left: 5vw;
        top: 1700px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    #banS{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        top: -50px;
        left: 20px;
        background-color: rgb(177,180,147);
    }

    #banH3{
        position: absolute;
        left: 18vw;
        font-size: 25px;
        top: 60px;
        font-weight: bolder;
    }


    #banP{
        position: absolute;
        margin: 20px;
        top: 75px;
        left: 20px;
        font-weight: bolder;
        font-size: 20px;
        color: rgb(215,215,215);
    }

    #banDiv:hover {
        background-color: rgb(177, 180, 147);
    }

    #banDiv:hover #banS {
        background-color: whitesmoke;
    }

    #preDiv{
        position: absolute;
        width: 80vw;
        height: 300px;
        margin: 20px;
        left: 5vw;
        top: 2090px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    #preS{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        top: -50px;
        left: 20px;
        background-color: rgb(177,180,147);
    }

    #preH3{
        position: absolute;
        left: 10vw;
        font-size: 25px;
        top: 60px;
        font-weight: bolder;
    }


    #preP{
        position: absolute;
        margin: 20px;
        top: 75px;
        left: 20px;
        font-weight: bolder;
        font-size: 20px;
        color: rgb(215,215,215);
    }

    #preDiv:hover {
        background-color: rgb(177, 180, 147);
    }

    #preDiv:hover #preS {
        background-color: whitesmoke;
    }

    #sI1{
        position: absolute;
        left: 10px;
        top: 10px;
    }

    #sI2{
        position: absolute;
        left: 15px;
        top: 15px;
        width: 70px;
        height: 70px;
    }

    #sI3{
        position: absolute;
        left: 10px;
        top: 10px;
        width: 80px;
        height: 80px;
    }

    #sI4{
        position: absolute;
        left: 20px;
        top: 10px;
        width: 70px;
        height: 70px;
    }

    #sI5{
        position: absolute;
        left: 10px;
        top: 5px;

    }

    #sI6{
        position: absolute;
        left: 15px;
        top: 15px;
        width: 70px;
        height: 70px;
    }

    /*=====================================Assignment================================================*/

    #assignmentSet{
        position: relative;
        height: 1130px;
        background-color: rgb(169,169,169);
        width: 100%;
        top: 10px;
    }

    #AssH1{
        position: absolute;
        left: 35vw;
        font-size: 40px;
    }

    #assH6{
        position: absolute;
        font-size: 20px;
        left: 150px;
        top: 60px;
        display: none;
    }





    /*====================================Animation============================*/
    #allBox {
        position: absolute;
        left: -6vw;/* or another position value based on your layout needs */
        display: grid; /* Specify that this element will be a grid container */
        grid-template-columns: repeat(3, 1fr); /* Three columns with equal fractional width */
        grid-template-rows: repeat(4, 1fr); /* Four rows with equal fractional height */
        grid-gap: 2rem; /* Gap between grid items */
        justify-content: center; /* Center items along the row axis */
        align-content: center; /* Center items along the column axis (if grid area is larger than items) */
        align-items: center; /* Align items individually along the column axis */
    }


    .card {
        position: relative;
        width: 25vw;
        height: 200px;
        left: 10vw;
        top: 180px;
        background: #B1B493;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: all 1s ease-in-out;
        border: 2px solid rgb(255, 255, 255);
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 2rem;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 1.5vw;
        font-weight: bold;
        color: black;
    }

    /*.card {*/
    /*    position: relative;*/
    /*    width: 200px;*/
    /*    height: 200px;*/
    /*    background: lightgrey;*/
    /*    border-radius: 30px;*/
    /*    overflow: hidden;*/
    /*    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
    /*    transition: all 1s ease-in-out;*/
    /*    border: 2px solid rgb(255, 255, 255);*/
    /*}*/

    .background {
        position: absolute;
        inset: 0;
        /*background-color: #4158D0;*/
        /*background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);*/
    }

    .logo {
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        transition: all 0.6s ease-in-out;
        font-size: 1.3em;
        font-weight: 600;
        color: black;
        letter-spacing: 3px;
    }

    .logo .logo-svg {
        fill: white;
        width: 30px;
        height: 30px;
    }

    .icon {
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    .icon .svg {
        fill: rgba(255, 255, 255, 0.797);
        width: 100%;
        transition: all 0.5s ease-in-out;
    }

    .box {
        position: absolute;
        padding: 10px;
        text-align: right;
        background: white;
        border-top: 2px solid rgb(255, 255, 255);
        border-right: 1px solid white;
        border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
        box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
        transform-origin: bottom left;
        transition: all 1s ease-in-out;
    }

    .box::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .box:hover .svg {
        fill: white;
    }

    .box1 {
        width: 70%;
        height: 70%;
        bottom: -70%;
        left: -70%;
    }

    .box1::before {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #ff53d4 60%, #62c2fe 90%);
    }

    .box1:hover::before {
        opacity: 1;
    }

    .box1:hover .icon .svg {
        filter: drop-shadow(0 0 5px white);
    }

    .box2 {
        width: 50%;
        height: 50%;
        bottom: -50%;
        left: -50%;
        transition-delay: 0.2s;
    }

    .box2::before {
        background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00ACEE 90%);
    }

    .box2:hover::before {
        opacity: 1;
    }

    .box2:hover .icon .svg {
        filter: drop-shadow(0 0 5px white);
    }

    .box3 {
        width: 30%;
        height: 30%;
        bottom: -30%;
        left: -30%;
        transition-delay: 0.4s;
    }

    .box3::before {
        background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
    }

    .box3:hover::before {
        opacity: 1;
    }

    .box3:hover .icon .svg {
        filter: drop-shadow(0 0 5px white);
    }

    .box4 {
        width: 10%;
        height: 10%;
        bottom: -10%;
        left: -10%;
        transition-delay: 0.6s;
    }

    .card:hover {
        transform: scale(1.1);
    }

    .card:hover .box {
        bottom: -1px;
        left: -1px;
    }

    .card:hover .logo {
        transform: translate(70px, -52px);
        letter-spacing: 0px;
    }

    #aDiv1{
        top: 160px;
        left: 8vw;
    }

    #aDiv2{
        top: 160px;
        left: 36vw;
    }

    #aDiv3{
        top: 160px;
        left: 64vw;
    }

    #aDiv4{
        top: 400px;
        left: 8vw;
    }

    #aDiv5{
        top: 400px;
        left: 36vw;
    }

    #aDiv6{
        top: 400px;
        left: 64vw;
    }

    #aDiv7{
        top: 640px;
        left: 8vw;
    }

    #aDiv8{
        top: 640px;
        left: 36vw;
    }

    #aDiv9{
        top: 640px;
        left: 64vw;
    }

    #aDiv10{
        top: 880px;
        left: 8vw;
    }

    #aDiv11{
        top: 880px;
        left: 36vw;
    }

    #aDiv12{
        top: 880px;
        left: 64vw;
    }

    /*==================================================Project====================================*/

    #projectDiv{
        position: relative;
        height: 1300px;
        background-color: whitesmoke;
        width: 100%;
        top: 10px;
    }

    #proH4{
        position: absolute;
        left: 31vw;
        top: 20px;
        font-size: 3vw;
        color: rgb(179,177,143);
    }

    #proH1{
        position: absolute;
        left: 25vw;
        font-size: 50px;
        font-weight: bold;
        top: 20px;
    }

    #proH6{
        position: absolute;
        left: 20px;
        font-size: 13px;
        top: 100px;
        color: rgb(179,177,143);
        display: none;
    }

    #imsMvcImg{
        position: absolute;
        width: 80vw;
        height: 200px;

    }

    #mvc{
        position: absolute;
        width: 80vw;
        height: 200px;
        margin: 30px;
        top: 100px;
        left: 3vw;
    }

    #lyd{
        position: absolute;
        width: 80vw;
        height: 200px;
        margin: 30px;
        top: 330px;
        left: 3vw;
    }

    #imsLimg{
        position: absolute;
        width: 80vw;
        height: 200px;
    }

    #game{
        position: absolute;
        width: 80vw;
        height: 200px;
        margin: 30px;
        top: 560px;
        left: 3vw;
    }

    #gameImg{
        position: absolute;
        width: 80vw;
        height: 200px;
    }

    #chat{
        position: absolute;
        width: 80vw;
        height: 200px;
        margin: 30px;
        top: 790px;
        left: 3vw;
    }

    #chatImg{
        position: absolute;
        width: 80vw;
        height: 200px;
    }

    #hotel{
        position: absolute;
        width: 80vw;
        height: 200px;
        margin: 30px;
        top: 1020px;
        left: 3vw;
    }

    #hotelImg{
        position: absolute;
        width: 80vw;
        height: 200px;
    }

    #imsMvcH6{
        position: absolute;
    }

    #imsMvcImg:hover #imsMvcH6 {
        z-index: 100;
        color: white;
        font-size: 5vw;
        left: 20px;

    }

    #imsMvcH6 {
        position: absolute;
        z-index: -200;
    }

    #imsMvcH6 span{
        position: absolute;
        z-index: -200;
        left: 70px;
        color: white;
    }

    #imsMvcImg:hover + #imsMvcH6 {
        z-index: 300;
        color: white;
        font-size: 5vw;
        left: 6.5vw;
        top: 120px;
    }

    #imsMvcImg:hover + #imsMvcH6 span {
        z-index: 300;
        color: white;
        font-size: 4vw;
        left: 15vw;
        top: 35px;
    }

    #imsLH6{
        position: absolute;
        z-index: -200;
    }

    #imsLH6 span{
        position: absolute;
        z-index: -200;
        left: 70px;
        color: white;
    }

    #imsLimg:hover + #imsLH6 {
        z-index: 300;
        color: white;
        font-size: 5vw;
        left: 6.5vw;
        top: 120px;
    }

    #imsLimg:hover + #imsLH6 span {
        z-index: 300;
        color: white;
        font-size: 4vw;
        left: 15vw;
        top: 35px;
    }

    #chatH6 {
        position: absolute;
        z-index: -200;
    }

    #chatImg:hover + #chatH6 {
        z-index: 300;
        color: white;
        font-size: 5vw;
        left: 13vw;
        top: 160px;
    }

    #gameH6{
        position: absolute;
        z-index: -200;
    }

    #gameImg:hover + #gameH6 {
        z-index: 300;
        color: white;
        font-size: 5vw;
        left: 17vw;
        top: 160px;
    }

    #hotelH6{
        position: absolute;
        z-index: -200;
    }

    #hotelImg:hover + #hotelH6 {
        z-index: 300;
        color: white;
        font-size: 5vw;
        left: 8vw;
        top: 160px;
    }

    /*========================================Contact==============================================*/
    #contactSet{
        position: relative;
        background-color: silver;
        top: 2vh;
        height: 1350px;
        width: 100%;
        /*width: 100%;*/
    }

    #conH4{
        position: absolute;
        left: 40vw;
        top: 5vh;
        color: rgb(179,177,143);

    }

    #conH1{
        position: absolute;
        left: 30vw;
        top: 5vh;
        /*font-weight: bold;*/
        font-size: 40px;
    }

    #conH6{
        position: absolute;
        left: 12vw;
        margin-right: 10vw;
        top: 20vh;
        font-size: 3vw;
        color: rgb(179,177,143);

    }

    #inputDiv{
        position: absolute;
        left: 10vw;
        width: 80vw;
        height:600px;
        background-color: whitesmoke;
        top: 200px;
        z-index: 50;
    }

    #name{
        position: absolute;
        top: 7vh;
        width: 70vw;
        height: 50px;
        left: 5VW;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}


    #email{
        position: absolute;
        top: 110px;
        width: 70vw;
        height: 50px;
        left: 5vw;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}

    #subject{
        position: absolute;
        width: 70vw;
        height: 50px;
        left: 5vw;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        top: 190px;
    }

    #msg{
        position: absolute;
        width: 70vw;
        height: 200px;
        left: 5vw;
        top: 270px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    }

    #sendBtn{
        position: absolute;
        width: 40vw;
        height: 50px;
        left: 20vw;
        top: 500px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        font-size: 20px;
    }

    #sendBtn:hover{
        background-color: rgb(177,180,147);
    }

    #addS{
        position: absolute;
        width: 15vw;
        height: 15vw;
        border-radius: 100px;
        background-color: rgb(177,180,147);
        left: 20vw;
        top: 850px;
    }

    #addressP1{
        position: absolute;
        left: 40vw;
        top: 860px;
        font-weight: bold;
        font-size: 20px;
    }

    #addressP2{
        position: absolute;
        left: 40vw;
        top: 880px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(179,177,143);
    }

    #addressImg{
        position: absolute;
        left: 23.5vw;
        top: 880px;
        width: 8vw;
        height: 8vw;
    }

    #phoneS{
        position: absolute;
        width: 15vw;
        height: 15vw;
        border-radius: 100px;
        background-color: rgb(177,180,147);
        left: 20vw;
        top: 980px;
    }

    #phoneImg{
        position: absolute;
        left: 25px;
        top: 25px;
        width: 8vw;
        height: 8vw;
    }

    #phoneP1{
        position: absolute;
        left: 40vw;
        top: 1000px;
        font-weight: bold;
        font-size: 20px;
    }

    #phoneP2{
        position: absolute;
        left: 40vw;
        top: 1025px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(179,177,143);
    }

    #emailS{
        position: absolute;
        width: 15vw;
        height: 15vw;
        border-radius: 100px;
        background-color: rgb(177,180,147);
        left: 20vw;
        top: 1110px;
    }

    #emailImg{
        position: absolute;
        left: 25px;
        top: 25px;
        width: 8vw;
        height: 8vw;
    }

    #emailP1{
        position: absolute;
        left: 40vw;
        top: 1130px;
        font-weight: bold;
        font-size: 20px;
    }

    #emailP2{
        position: absolute;
        left: 40vw;
        top: 1150px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(179,177,143);
    }

    /*=======================================Footer==============================================*/

    #footerSet{
        position: relative;
        height: 100px;
        width: 100%;
        top: -40px;
        background-color: rgb(35,41,49);
    }

    #myName{
        position: absolute;
        left: 30px;
        top: 20px;
        font-size: 20px;
        color: white;
    }

    #insta {
        position: absolute;
        right: 5vw;
        top: 20px;
        width: 10vw;
        height: 30px;
    }

    #whatsapp{
        position: absolute;
        right: 15vw;
        top: 20px;
        width: 10vw;
        height: 30px;
    }

    #fb{
        position: absolute;
        right: 25vw;
        top: 20px;
        width: 10vw;
        height: 30px;
    }

    #last{
        position: absolute;
        bottom: 20px;
        left: 11vw;
        font-size: 2vw;
        color: white;
    }

}
